body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fafafa
}
img{
    height: 120px;
    width: 300px;
}

.login-container {
    width: 350px;
    background: #fff;
    padding: 40px;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h1 {
    font-family: 'Billabong', cursive;
    font-size: 48px;
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: #fafafa;
}

.login-button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #0095f6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #007ac1;
}

.divider {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.divider::before, .divider::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #dbdbdb;
}

.divider span {
    margin: 0 10px;
    font-size: 12px;
    color: #8e8e8e;
}

.facebook-login {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #385185;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.facebook-login img {
    width: 20px;
    margin-right: 8px;
}

.forgot-password {
    font-size: 12px;
    color: #00376b;
    margin-top: 10px;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.signup {
    margin-top: 20px;
    font-size: 14px;
}

.signup a {
    text-decoration: none;
    color: #0095f6;
    font-weight: bold;
}

.signup a:hover {
    text-decoration: underline;
}